<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	
	<title>Next Ramadan</title>

	<link rel="shortcut icon" href="https://nextramadan.herokuapp.com/static/assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="https://nextramadan.herokuapp.com/static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://nextramadan.herokuapp.com/static/assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="https://nextramadan.herokuapp.com/static/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="https://nextramadan.herokuapp.com/static/assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://nextramadan.herokuapp.com/static/assets/js/html5shiv.js"></script>
	<script src="https://nextramadan.herokuapp.com/static/assets/js/respond.min.js"></script>
	<![endif]-->
</head>


	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">The next Ramadan is in {{  numdays }} the {{  closest_date  }}</h1>
				<p class="tagline">The site display the number of days between today and the next Ramadan and the date of the next Ramadan for every years</p>
                             <p class="tagline"> Last update {{  now  }}</p>
                   	</div>
		</div>
	<br><a href="https://twitter.com/Next_Ramadan?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @Next_Ramadan</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </header>

			
			


	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Developer</h3>
						<div class="widget-body">
							<p>Hamdy Abou El Anein<br>
								<a href="mailto:#">hamdy.aea@protonmail.com</a><br>
                                                           
                                                                <a href="https://github.com/hamdyaea/NextRamadan" target="_blank">Source code</a><br>
                          </p>	
						</div>
					</div>



				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="https://nextramadan.herokuapp.com/static/assets/js/headroom.min.js"></script>
	<script src="https://nextramadan.herokuapp.com/static/assets/js/jQuery.headroom.min.js"></script>
	<script src="https://nextramadan.herokuapp.com/static/assets/js/template.js"></script>
</body>
</html>
